<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Home</title>
</head>
<body>
<header>
    <div class="top-bar">
        <div class="container">
            <div class="row justify-content-between">
                <ul>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-youtube"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-solid fa-globe"></i>
                        </a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="#">
                            +977 9800000000
                        </a>
                    </li>
                     <li>
                        <a href="#">
                            example@gmail.com
                        </a>
                        </li>
                </ul>
            </div>
        </div>
    </div>
</header>
<nav>
    <div class="container nav-bottom-border">
        <div class="row justify-content-between">
            <a class="brand-text" href="#">Education</a>
            <ul>
                <li>
                    <a href="#">
                        Home
                    </a>
                </li>
                <li>
                    <a href="#">
                        About
                    </a>
                </li>
                <li>
                    <a href="#">
                        Courses
                    </a>
                </li>
                <li>
                    <a href="#">
                        Events
                    </a>
                </li>
                <li>
                    <a href="#">
                        Contact
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<section class="hero-banner">
    <div class="banner-overlay">
        <div class="container h-full">
            <div class="banner-content">
                <h1>We ensure better education <br>for a better world</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                <a href="#">GET STARTED</a>
            </div>
        </div>
    </div>
</section>
<section id="features">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-head">
                        <h4>Learn Online Courses</h4>
                    </div>
                    <div class="card-body">
                        <p>Usage of the Internet becoming more common due to rapid advantage of technology</p>
                        <a href="#">Join Now</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-head">
                        <h4>Learn Online Courses</h4>
                    </div>
                    <div class="card-body">
                        <p>Usage of the Internet becoming more common due to rapid advantage of technology</p>
                        <a href="#">Join Now</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-head">
                        <h4>Learn Online Courses</h4>
                    </div>
                    <div class="card-body">
                        <p>Usage of the Internet becoming more common due to rapid advantage of technology</p>
                        <a href="#">Join Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>