<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>css</title>
    <style>
      div {
        background-color: aqua;
        width: 400px;
        height: 200px;
      }
      img {
        width: 200px;
        float: right;
      }
    </style>
  </head>
  <body>
    <div>
      <img src="ai.png" alt="" />
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam molestias
      velit provident laudantium totam repellat, tempora, cum deleniti doloribus
      quo ducimus beatae cumque voluptates vero veritatis architecto est ex
      consequuntur.
    </div>
  </body>
</html>
