<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing Page</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="landing-page.css" />
  </head>
  <body>
    <!-- start header -->
    <header>
      <nav>
        <a class="brand-logo" href="#"> S. </a>
        <ul>
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">About Me</a></li>
          <li><a href="#">Skills</a></li>
          <li><a href="#">Portfolio</a></li>
          <li><a href="#">Clients</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
    </header>
    <!-- end header -->

    <main>
      <!-- start #hero -->
      <section id="hero">
        <div class="hero-overlay">
          <div class="container hero-content">
            <div class="social-links">
              <a href="#"><i class="fa-brands fa-facebook-square"></i></a>
              <a href="#"><i class="fa-brands fa-twitter"></i></a>
              <a href="#"><i class="fa-brands fa-instagram"></i></a>
              <a href="#"><i class="fa-brands fa-youtube"></i></a>
            </div>
            <h2>I am Jonathan Doe</h2>
            <h2>Photographer</h2>
            <div class="goto-bottom">
              <a href="#">
                <i class="fa-solid fa-arrow-down icon-first"></i>
                <i class="fa-solid fa-arrow-down icon-second"></i>
              </a>
            </div>
          </div>
        </div>
      </section>
      <!-- end #hero -->

      <!-- start #services -->
      <section id="services">
        <div class="container">
          <h2 class="heading">My Services</h2>
          <div class="row">
            <div class="col">
              <div class="card">
                <i class="fa-solid fa-pen"></i>
                <h2>Web Design</h2>
                <p>
                  Duis molestie enim mattis gravida viverra. Fusce ut eros
                  augue. Sed id mauris vel neque
                </p>
                <div class="readmore">
                  <a href="#">Read more</a>
                  <span></span>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card">
                <i class="fa-solid fa-camera"></i>
                <h2>Photography</h2>
                <p>
                  Duis molestie enim mattis gravida viverra. Fusce ut eros
                  augue. Sed id mauris vel neque
                </p>
                <div class="readmore">
                  <a href="#">Read more</a>
                  <span></span>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card">
                <i class="fa-solid fa-clapperboard"></i>
                <h2>Video Editing</h2>
                <p>
                  Duis molestie enim mattis gravida viverra. Fusce ut eros
                  augue. Sed id mauris vel neque
                </p>
                <div class="readmore">
                  <a href="#">Read more</a>
                  <span></span>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="card">
                <i class="fa-solid fa-pen"></i>
                <h2>Web Design</h2>
                <p>
                  Duis molestie enim mattis gravida viverra. Fusce ut eros
                  augue. Sed id mauris vel neque
                </p>
                <div class="readmore">
                  <a href="#">Read more</a>
                  <span></span>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card">
                <i class="fa-solid fa-camera"></i>
                <h2>Photography</h2>
                <p>
                  Duis molestie enim mattis gravida viverra. Fusce ut eros
                  augue. Sed id mauris vel neque
                </p>
                <div class="readmore">
                  <a href="#">Read more</a>
                  <span></span>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card">
                <i class="fa-solid fa-clapperboard"></i>
                <h2>Video Editing</h2>
                <p>
                  Duis molestie enim mattis gravida viverra. Fusce ut eros
                  augue. Sed id mauris vel neque
                </p>
                <div class="readmore">
                  <a href="#">Read more</a>
                  <span></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- end #services -->

      <!-- #about -->
      <section id="about">
        <div class="container">
          <h2 class="heading">About Me</h2>
          <div class="row">
            <div class="col">
              <img src="images/img-man-looking.jpg" alt="" />
            </div>
            <div class="col">
              <div class="intro-title">Hi There</div>
              <p>
                In id nulla magna. Nullam posuere fermentum mattis. Nunc id dui
                at sapien faucibus fermentum ut vel diam. Nullam tempus, nunc id
                efficitur sagittis, urna est ultricies eros, ac porta sem turpis
                quis leo. Nulla in feugiat elit.
              </p>
              <table>
                <tr>
                  <th>Name:</th>
                  <th>Email:</th>
                </tr>
                <tr>
                  <td>Jonathan Doe</td>
                  <td>hello@example.com</td>
                </tr>
                <tr>
                  <th>Phone:</th>
                  <th>Twitter:</th>
                </tr>
                <tr>
                  <td>+1 908-736-1801</td>
                  <td>@freelancer9</td>
                </tr>
              </table>
              <hr />

              <div class="action-link">
                <a href="#"
                  >Contact Me <i class="fa-solid fa-arrow-right"></i
                ></a>
                <a href="#"><i class="fa-solid fa-download"></i> Download CV</a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
